<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>About Me</h1>
        <p>I am a self-motivated, reliable and trustworthy person with great interpersonal skills. I am committed individual able to work well under pressure both within a team and when using my own initiative.</p>
        <p>I have great organisational skills demonstrated through prioritising my work effectively and planning ahead both for peer, managerial and personal benefits. </p>
        <p>I have a passion for design and development especially within the tech space. Overall I am a friendly, hardworking, considerate, and imperative member of any team.</p>
      </div>
    </div>
  </div>
</section>
