<div class="modal fade" id="suberBreakModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Product Manager</h5>
        <h6 class="text-muted">Super Break January 2018</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Product Manager of Super Break website and new greenfield project</li>
          <li>Maintain, develop and deliver the product roadmap</li>
          <li>Manage and implement change portfolio across the website from projects to BAU</li>
          <li>Manage and prioritise issue backlog based on customer and business needs</li>
          <li>Liaise with senior leadership and management on various IT projects to establish
              needs and priorities</li>
          <li>Detail product requirements and aid the Business Analysis team when defining
              detailed requirements</li>
          <li>Coordinate project teams from discovery to implementation</li>
          <li>Manage A/B Tests, User Research and customer feedback and act on any learnings</li>
          <li>Coordinate research and analysis on projects</li>
          <li>Lead workshops/working groups</li>
          <li>Manage resource against product priorities</li>
          <li>Manage product development and change throughout the SDLC</li>
          <li>Establish and grow</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
