<section id="projects">
  <div class="container">
    <h1>My Projects</h1>
    <div class="row">
      <div class="col-12 col-md-4">
        <a href="http://www.checkmirrors.co.uk/" class="card-sarah">
          <div class="card">
            <img class="card-img-top" src="img\checkmirrors.png" alt="checkmirrors">
            <div class="card-body">
              <h5 class="card-title">checkmirrors.co.uk</h5>
              <h6 class="card-subtitle mb-2 text-muted">Website rebuild, conversion improvement & SEO improvements.</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a href="http://www.gypsymothshull.com/" class="card-sarah">
        <div class="card">
          <img class="card-img-top" src="img\gypsymothshull.png" alt="checkmirrors">
          <div class="card-body">
            <h5 class="card-title">gypsymothshull.com</h5>
            <h6 class="card-subtitle mb-2 text-muted">Brand new website to drive enquiries to and promote the band.</h6>
          </div>
        </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <img class="card-img-top" src="img\bucky.png" alt="checkmirrors">
          <div class="card-body">
            <h5 class="card-title">The Buccaneer <span class="badge badge-info">In Progress</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">Website rebuild, conversion improvement & SEO improvements.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
